@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('./color.css');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--mainColor);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    /* outline: 1px dashed red; */
}


body{
    background: #fff9f9;
}

#app{
    max-width: 1235px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

nav{
    z-index: 99;
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1em;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

nav a{
    text-decoration: none;
}

#RV a{
    font-size: 2rem;
    font-weight: 900;
    color: var(--mainColor);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4em;

}

.links li{
    list-style: none;
}

.links li a{
    color: #333;
    font-size: .9rem;
    padding-inline: 1em;
    padding-block: .5em;
    border-radius: 16px;
}

.links .active{
    color: white;
    background-color:var(--mainColor);
}

#contact a{
    color: white;
    background-color: var(--mainColor);
    padding-block: .7em;
    padding-inline: 1em;
    border-radius: 8px;
    transition: 300ms;
}

#contact a:hover{
    background-color: var(--hoveredMainColor);
}


/* Hero Section */

.hero_section{
    margin-top: 4em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hero_section #heroLeftSide{
    grid-column: span 2;
}

.hero_section #heroLeftSide .profession{
    font-size: 4rem;
    font-weight: 800;
    line-height: .9em;
    color: var(--mainColor);
    margin-bottom: 1rem;
}

.hero_section #heroSVG{
    width: 100%;
    height: 100%;
}
.hero_section #heroSVG img{
    width: 100%;
    height: 100%;
}


.mockup-code{
    position: relative;
    height: min-content;
    width: 100%;
    max-width: 655px;
    padding-block: 1.5em;
    padding-inline: 1em;
    background-color: #1e2227;
    border-radius: 8px;
    font-size: .8rem;
}

.mockup-code::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff5f57;
}

.mockup-code::after{
    content: "";
    position: absolute;
    left: 30px;
    top: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffbd2e;
}

.mockup-code .mac {
    content: "";
    position: absolute;
    left: 50px;
    top: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #27c93f;
}


.mockup-code div{
   padding-top: 1em;
   display: flex;
   flex-direction: column;
   gap: 2px;
}

.mockup-code div:nth-child(1){
    margin-block: 40px;
}

.mockup-code code[data-prefix]::before {
    content: attr(data-prefix);
    color: var(--fade-white);
    margin-right: 5px;
}

.socials{
    margin-top: 2em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

/* Works Section */
#works{
    margin-top: 4em;
    width: 100%;
}

#Project_Title{
    font-size: 3rem;
    font-weight: 900;
    color: var(--mainColor);
    margin-bottom: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.project{
    width: 100%;
    height: 235px;
    display: flex;
    gap: 24px;
    box-shadow: 2px 8px 25px rgba(197, 166, 108, .2);
    border-radius: 16px;
    /* padding: 1em; */
}


.project figure img{
    width: 335px;
    height: 100%;

}


.project_description{
    padding-inline: 1em;
    padding-block: 1.3em;
    display: flex;
    flex-direction: column;
}
.project_description .project_name{
    color: #333;
    font-weight: 700;
    font-size: 1.4rem;
}

.project_description .category{
    margin-bottom: 1rem;
}

.project_description .category a{
    color: var(--fade-white) ;
    text-decoration: none;
    font-size: 12px;
    padding-block: .4em;
    border-radius: 16px;
}

.project_description .content{
    text-align: justify;
    text-justify: inter-word;
    margin-top: 24px;
    font-size: 14px;
}

.project_description .sources{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 36px;
    margin-top: 2rem;
}

.sources a{
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--mainColor);
    background-color: #1e2227;
    padding-inline: 1.7em ;
    padding-block: .8em;
    border-radius: .6rem;
    text-decoration: none;
    transition: 300ms;
}

.sources a:hover{
    background-color: #111213;
}


/* Bio Section */

#bio{
    width: 100%;
    height: min-content;
    padding-block: 1em;
    margin-block: 5em;
}

#bio_title{
    font-size: 3rem;
    font-weight: 900;
    color: var(--mainColor);
    margin-bottom: 20px;
}

.bio_content{
    margin-top: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.bio_content p {
    margin-bottom: .9rem;
    font-size: .9rem;
}

.certificates{
    width: 100%;
    margin-top: 3em;
}

.certificates > p {
    font-size: 1.2rem;

}

.certificates .cert_list{
    margin-top: 1em;
}

.certificates .cert_list ul{
    display: flex;
    align-items: center;
    gap: 8rem;
    list-style: none;
    font-size: .9rem;
}

.certificates .cert_list ul p[data-programming]{
    position: relative;
}
.certificates .cert_list ul p[data-programming]::before{
    content: attr(data-programming);
    position: absolute;
    top: -10px;
    font-size: 10px;
    right: -20px;
    background-color: var(--mainColor);
    padding-block: .1rem;
    padding-inline: .3rem;
    border-radius: 25px;
}


/* Contact Section */
#contact_section{
    
    background-color: #111213;
    height: min-content;
    width: 70%;
    margin: 1em auto;
    padding-inline: 3em;
    padding-block: 2em;
    border-radius: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

#contact_section .contact_container > p:nth-child(1){
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--fade-white);
}

#contact_section .contact_container > p:nth-child(2){
    font-size: .9rem;
    margin-top: 1rem;
    color: var(--mainColor);
}


#contact_section .contact_container .location p:nth-child(1){
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--fade-white);
    margin-top: 1rem;
}

#contact_section .contact_container .location p:nth-child(2){
    font-size: .9rem;
    margin-top: .3rem;
    color: var(--mainColor);
}

#contact_section .contact_container .location .email_num{
    margin-top: 1rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

#contact_section .contact_container .location .email_num a{
    text-decoration: none;
    color: var(--fade-white);
}


#contact_section .contact_container .location button{
    padding-inline: 2.4em;
    padding-block: .8em;
    margin-top: 1.5rem;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--mainColor);
    cursor: pointer;
    transition: 300ms;
    color: white;
    font-size: 1rem;
}

#contact_section .contact_container .location button:hover{
    background-color: var(--hoveredMainColor);
}
  

/* Footer Section */

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding-block: 2em;
    margin-top: 10rem;

}

footer p{
    font-size: 1rem;
    font-weight: 700;
}
